@inherits LayoutComponentBase

<div class="container-fluid vh-100 d-flex flex-column">
    <!-- Header -->
    <header class="bg-light border-bottom px-4 py-2">
        <h1 class="h5 m-0">My New Workflow</h1>
    </header>

    <!-- Body Layout -->
    <div class="row flex-grow-1">
        <!-- Left Sidebar -->
        <div class="col-auto bg-white border-end p-2 d-flex flex-column align-items-center" style="width: 64px;">
            <Toolbar />
        </div>

        <!-- Main Canvas -->
        <div class="col position-relative p-0">
            <WorkflowCanvas />
        </div>

        <!-- Right Drawer -->
        <div class="col-auto bg-white border-start p-3" style="width: 360px;">
            <!-- Drawer content will go here -->
        </div>
    </div>
</div>
